.card {
    margin: auto;
    align-items: center;
    background-color: #ecf320;
    box-shadow: 10px 10px rgb(217, 215, 215);
    border-radius: 20px;
    height: 360px;
    width: 300px;
}

#goal {
    align-items: center;
    text-align: center;
    margin-top: 110px;
    padding-top: 30px;
    font-family: cursive;
}

.count {
    margin-left: 10px;
}

.count-digit {
    font-size: 190px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    border-width: 1px;
    margin-left: 3px;
    border: none;
    color: solid black;
    background-color: mistyrose;
    box-shadow: 3px 3px rgb(136, 151, 19);
    height: 180px;
    width: 130px;
}


.newButton {
    margin: -100px 20px 0 10px;
    border-color: black;
    border-style: double;
    border-width: 2px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 8px;
    
}


.button-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin: 20px 0 0 35px;
}

button {
    height: 35px;
    width: 100px;
    font-size: larger;
    border-color: aliceblue;
    border-radius: 10px;
}

button:nth-child(1) {
    background: rgb(164, 227, 195);
}

button:nth-child(2) {
    background: red;
}


button:hover {
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(206, 192, 192, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


/* check otp validation and apply for this */

.trial {
    color: black;
}

.input_field {
    margin-top: 100px;
    display: flex;
    background-color: black;
    width: 10px;
}

input {
    width: 30px;
}
